:root{
 --ratio-samples:0.4;
}

.header{
    padding: 10px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.16);
    font-size: 40px;
    height: 70px;
    background-color: #49a9ee;
    color:#ffffff
  }